@import "tailwindcss";
@plugin "daisyui";

#root {
  width: 1920px;
  height: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  /* width: 1800px;
  height: 960px; */
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: rgba(42, 42, 42, 0.87);
  color-scheme: dark light;
  margin: 0 auto;
  overflow: hidden;
}
