#root {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  width: 1400px;
  height: 900px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: rgba(42, 42, 42, 0.87);
  color-scheme: dark light;
}

